<div id="display-task-list">
  <form (ngSubmit)="onSubmit()">
    <!-- <input type="text" id="newTask" placeholder="Enter Task" required [([(ngModel)]="model.id")]/> -->
    <label for="Task Name">Task Name</label>

    <input
      type="text"
      id="taskName"
      placeholder="Enter Task"
      required
      [(ngModel)]="task.taskName"
      [ngModelOptions]="{ standalone: true }"
    />
    <label for="Task Due">When is Your Task Due?</label>
    <input
      type="text"
      id="taskDue"
      placeholder="Enter Task"
      required
      [(ngModel)]="task.taskDue"
      [ngModelOptions]="{ standalone: true }"
    />
    <label for="Task Status">Is this completed?</label>
    <select
      type="text"
      id="taskStatus"
      placeholder="Enter Task"
      required
      [(ngModel)]="task.completedTask"
      [ngModelOptions]="{ standalone: true }"
    >
      <option value="true" selected>Yes</option>
      <option value="false" selected>No</option>
    </select>
    <br />
    <button id="createNewTask">Create Task</button>
  </form>
  <ul>
    <li *ngFor="let task of tasks">
      <p id="showTask">
        {{ task.id + 1 }}. {{ task.taskName }}: {{ task.taskDue }}
        {{ task.completedTask ? "&#10005;" : "&#10003;" }}
      </p>
    </li>
  </ul>
</div>
