<div>
  <form (ngSubmit)="addTask()">
    <!-- <input type="text" id="newTask" placeholder="Enter Task" required [([(ngModel)]="model.id")]/> -->
    <label for="Task Name">Task Name</label>

    <input
      type="text"
      id="taskName"
      placeholder="Enter Task"
      required
      [(ngModel)]="newTask.taskName"
      [ngModelOptions]="{ standalone: true }"
    />
    <label for="Task Due">When is Your Task Due?</label>
    <input
      type="text"
      id="taskDue"
      placeholder="Enter Task"
      required
      [(ngModel)]="newTask.taskDue"
      [ngModelOptions]="{ standalone: true }"
    />
    <!-- <select
      type="text"
      id="taskStatus"
      placeholder="Enter Task"
      required
      [(ngModel)]="newTask.completedTask"
    >
      <option value="true" selected>Yes</option>
      <option value="false" selected>No</option>
    </select> -->
    <button id="createNewTask">Create Task</button>
  </form>
</div>
